//@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps'); fonts used from kevin powell
@import url('https://fonts.googleapis.com/css?family=Average|Fjalla+One');

// font family
$ff-s: 'Average', serif;
$ff-ss: 'Fjalla One', sans-serif;

// font weight
$fw-n: 400;
//$fw-b: 900;

// letter spacing
$letter-spacing: 10px;

// mixins
@mixin sans-serif($fs, $ls: .1em, $color: $dark-gray, $tt: uppercase, $lh: 1) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ss;
  font-weight: $fw-n;
}
