@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Six+Caps');

// font family
$ff-s: 'Merriweather', serif;
$ff-ss: 'Six Caps', sans-serif;

// font weight
$ff-n: 400;
$ff-b: 900;

// letter spacing
$letter-spacing: 10px;

// mixins
@mixin sans-serif($fs, $ls: .3em, $color: $dark-gray, $tt: uppercase, $lh: 1) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ss;
}
